/* 后引入的代码 */
/* ----------------------------------------------------引入开始---------------------------------------------------------- */
/* 引入网址链接前的图标相关代码 */
@import url("style/link-icon.css");
/* 给网址链接设置颜色 */
@import url("style/link-icon-color.css");
/* ————————————————————初始设置———————————————————— */
/* 引入颜色和字体 */
@import url("style/theme-setting.css");
/* 引入一些初始设置 */
@import url("style/07-others/begin-setting.css");
/* 引入空行提示 */
@import url("style/07-others/empty-letter.css");
/* 设置界面背景 */
@import url("style/07-others/background.css");
/* 增加`/`分栏样式 */
@import url("style/07-others/column.css");


/* ————————————————————界面修改———————————————————— */
/* 修改上左右dock栏样式 */
@import url("style/02-appearance/dock.css");
/* 修改头图下方icon样式 */
@import url("style/02-appearance/banner-icon.css");
/* 修改文档树样式 */
@import url("style/02-appearance/file-tree.css");
/* 修改大纲样式 */
/* @import url("style/02-appearance/outline.css"); */
/* 修改标签页样式 */
@import url("style/02-appearance/tab-bar.css");
/* 修改面包屑样式 */
@import url("style/02-appearance/breadcrumb.css");
/* 修改鼠标滑选块时光标颜色 */
@import url("style/02-appearance/mouse.css");
/* 修改选中文字后弹出的悬浮工具栏的样式 */
@import url("style/02-appearance/toolbar.css");
/* 修改弹出菜单的样式 */
@import url("style/02-appearance/meun.css");
/* 修改按钮样式 */
@import url("style/02-appearance/button.css");
/* 修改设置界面样式 */
@import url("style/02-appearance/setting-option.css");
/* 修改设置界面搜索栏样式 */
@import url("style/02-appearance/search.css");
/* 修改警告界面样式 */
/* @import url("style/02-appearance/warning-color.css"); */


/* ————————————————————行内元素———————————————————— */
/* 修改高亮样式 */
@import url("style/03-inline-span/mark.css");
/* 修改加粗样式 */
@import url("style/03-inline-span/strong.css");
/* 修改下划线样式 */
@import url("style/03-inline-span/underline.css");
/* 修改删除线样式 */
@import url("style/03-inline-span/line-through.css");
/* 修改块引用样式 */
@import url("style/03-inline-span/block-ref.css");
/* 修改超链接样式 */
@import url("style/03-inline-span/a-link.css");
/* 修改标签样式 */
@import url("style/03-inline-span/tag.css");
/* 修改键盘keyboard样式 */
@import url("style/03-inline-span/keyboard.css");
/* 修改行内代码样式 */
@import url("style/03-inline-span/inline-code.css");
/* 修改上标和下标样式 */
@import url("style/03-inline-span/sup-sub.css");
/* 修改更多字体的样式 */
@import url("style/03-inline-span/strong-morestyle.css");

/* ————————————————————块级元素———————————————————— */
/* 修改表格样式 */
@import url("style/04-block-div/table.css");
/* 修改引用样式 */
@import url("style/04-block-div/blockquote.css");
/* 修改嵌入块样式 */
@import url("style/04-block-div/render-node.css");
/* 修改图片样式 */
@import url("style/04-block-div/image.css");
/* 修改列表样式 */
@import url("style/04-block-div/list.css");
/* 修改待办事项样式 */
@import url("style/04-block-div/task.css");
/* 修改代码块样式 */
@import url("style/04-block-div/code-block.css");
/* 修改超级块样式 */
@import url("style/04-block-div/super-block.css");
/* 修改PDF双链的样式 */
@import url("style/04-block-div/pdf.css");
/* 修改分割线样式 */
@import url("style/04-block-div/divider-fengexian.css");
/* 修改标题样式 */
@import url("style/04-block-div/NodeHeading-biaoti.css");
/* 增加标题自动编号 */
@import url("style/04-block-div/auto-number.css");
/* 引入4种样式 */
@import url("style/04-block-div/card.css");
/* 修改折叠样式 */
@import url("style/04-block-div/fold.css");
/* 修改公式样式 */
@import url("style/04-block-div/katex.css");

/* ————————————————————自定义属性———————————————————— */
/* 增加文档的自定义属性 */
@import url("style/05-custom-function-for-file/custom-function-for-file.css");
/* 增加块的自定义属性 */
@import url("style/06-custom-function-for-block/custom-function-for-block.css");
/* 增加 Roy 的列表转思维导图代码 */
@import url("style/list-to-map.css");
/* 增加列表转表格代码 */
@import url("style/list-to-table.css");

/* ————————————————————引入自定义设置———————————————————— */
/* 搜索界面左右排版 */
@import url("style/CtrlP.css");
/* 引入大家的自定义配置，放到widgets文件夹下，名称为custom.css */
@import url(/widgets/custom.css);
/* 设置打印样式 */
@import url("style/07-others/print.css");

/* ----------------------------------------------------引入结束---------------------------------------------------------- */