/* -------------------------------------------------对整个文档实行自定义属性--------------------------------------------- */
/* ————————————————————（编号"bh")去除自动编号———————————————————— */
.protyle-wysiwyg[custom-f~=bh] .h1>div:before,
.protyle-wysiwyg[custom-f~=bh] .h2>div:before,
.protyle-wysiwyg[custom-f~=bh] .h3>div:before,
.protyle-wysiwyg[custom-f~=bh] .h4>div:before,
.protyle-wysiwyg[custom-f~=bh] .h5>div:before,
.protyle-wysiwyg[custom-f~=bh] .h6>div:before {
    display: none;
}

/* ————————————————————去掉标题下方圆角矩形衬底———————————————————— */
.protyle-wysiwyg[custom-f~=bt] .h1::after,
.protyle-wysiwyg[custom-f~=bt] .h2::after,
.protyle-wysiwyg[custom-f~=bt] .h3::after,
.protyle-wysiwyg[custom-f~=bt] .h4::after,
.protyle-wysiwyg[custom-f~=bt] .h5::after,
.protyle-wysiwyg[custom-f~=bt] .h6::after {
    display: none;
}

/* ————————————————————通过自定义属性修改字体———————————————————— */
*[custom-f~=hm],
*[custom-f~=hw] {
    font-family: "HarmonyOS Sans SC";
}

*[custom-f~=yh] {
    font-family: "Microsoft YaHei";
}

/* ————————————————————修改背景颜色———————————————————— */
.protyle-wysiwyg[custom-f~=blue] {
    background-color: rgba(128, 213, 206, 0.1) !important;
}

/* 2群"随船医"贡献护眼颜色 */
/* 绿豆沙 */
.protyle-wysiwyg[custom-f~=green] {
    background-color: #c8edcc !important;
}

/* WPS护眼模式 */
.protyle-wysiwyg[custom-f~=green1] {
    background-color: #cce8cf !important;
}

/* 青草绿 */
.protyle-wysiwyg[custom-f~=green2] {
    background-color: #e3eccd !important;
}

/* 杏仁黄 */
.protyle-wysiwyg[custom-f~=yellow] {
    background-color: #faf8df !important;
}

/* 极光灰 */
.protyle-wysiwyg[custom-f~=gray] {
    background-color: #ebeaf0 !important;
}

/* .protyle-wysiwyg[custom-f~=gray] .protyle-title__input {
    background-color: #ebeaf0 !important;
} */

/* 瑞雪白 */
.protyle-wysiwyg[custom-f~=white] {
    background-color: #f1ede1 !important;
}

/* -------------------------------------------------对整个文档实行自定义属性 END--------------------------------------------- */