/* ------------------------------------------------块引用/引用块------------------------------------------------- */
/* 设置引用块格式 */
/* .protyle-wysiwyg [data-node-id] span[data-type='block-ref'] {
    color: inherit;
    padding: 0.1em 0.2em;
    padding-bottom: 0.05em !important;
    border-bottom: 1px solid var(--b3-theme-primary);
    margin: 2px;
} */

.protyle-wysiwyg [data-node-id] span[data-type='block-ref'] {
    color: var(--b3-theme-on-background);
    border-radius: 4px;
    text-decoration: 0.05em solid var(--b3-theme-primary) underline;
    text-underline-offset: 0.1em;
}

.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]::before {
    content: "";
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-size: 1.1em 1.1em;
    background-image: url('../../src/page.png');
    width: 1.1em;
    height: 1.1em;
    margin-right: 0.2em;
    margin-left: 5px;
    top: 0.1em;
}

/* 为引用块后面增加引用图标 */
/* .protyle-wysiwyg [data-node-id] span[data-type="block-ref"]::before {
    content: "📑";
    position: relative;
    font-size: 80%;
    top: -0.1em;
    margin-right: 2px;
} */

.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]:hover {
    color: var(--b3-theme-primary);
    background-color: var(--b3-theme-hover);
    border-radius: 3px 3px 0 0;
}

/* 去掉h1-h6标题上块引用的下划线，感谢二群群友123的建议 */
.h1 span[data-type='block-ref'],
.h2 span[data-type='block-ref'],
.h3 span[data-type='block-ref'],
.h4 span[data-type='block-ref'],
.h5 span[data-type='block-ref'],
.h6 span[data-type='block-ref'] {
    border-bottom: 1px solid transparent !important;
}


/* 引用块悬浮时头部的背景颜色 */
.b3-menu, .protyle-util {
    box-shadow: var(--b3-small-kuaiyinyong-shadow)
}

/* 上方表头区域 */
.block__popover--move>.block__icons {
    color: var(--b3-theme-primary);
    background-color: var(--b3-theme-tm1) !important;
    border-top: 3px solid var(--b3-theme-primary) !important;
}

/* 下方编辑区域 */
.block__popover--move textarea.b3-text-field.b3-text-field--text.fn__block {
    background-color: var(--b3-theme-background);
    border: none;
    font-family: var(--b3-font-family-code);
    user-select: none;
    border-bottom: var(--b3-border-wider);
}

/* 引用块打开时的阴影 */
.block__popover--open {
    box-shadow: var(--b3-small-kuaiyinyong-shadow);
}