.fn__code,
.b3-typography code:not(.hljs),
.b3-typography span[data-type~=code],
.protyle-wysiwyg code:not(.hljs),
.protyle-wysiwyg span[data-type~=code] {
    color: var(--b3-protyle-inline-code-color);
    background-color: var(--b3-protyle-inline-code-background);
    border-radius: var(--b3-border-radius-noraml);
    font-size: 0.8em;
    vertical-align: 0.1em;
}