/* ---------------------------------------自定义13种背景样式，前7种为7种彩虹色----------------------------------------- */
/* ———————————————为所有的字体样式设置统一的圆角，看起来更好看——————————————————— */
span[data-type="text"] {
    color: var(--b3-protyle-inline-span-color);
    margin: 0px 0px !important;
    font-weight: 600 !important;
    border-radius: var(--b3-border-radius-noraml);
}

/* ———————————————自定义13种背景样式，前7种为彩虹色—————————————————— */
span[style="background-color: var(--b3-font-background1);"] {
    color: var(--b3-font-color1) !important;
}

span[style="background-color: var(--b3-font-background2);"] {
    color: var(--b3-font-color2) !important;
}

span[style="background-color: var(--b3-font-background3);"] {
    color: var(--b3-font-color3) !important;
}

span[style="background-color: var(--b3-font-background4);"] {
    color: var(--b3-font-color4) !important;
}

span[style="background-color: var(--b3-font-background5);"] {
    color: var(--b3-font-color5) !important;
}

span[style="background-color: var(--b3-font-background6);"] {
    color: var(--b3-font-color6) !important;
}

span[style="background-color: var(--b3-font-background7);"] {
    color: var(--b3-font-color7) !important;
}

span[style="background-color: var(--b3-font-background8);"] {
    color: var(--b3-font-color8) !important;
}

span[style="background-color: var(--b3-font-background9);"] {
    color: var(--b3-font-color9) !important;
}

span[style="background-color: var(--b3-font-background10);"] {
    color: var(--b3-font-color10) !important;
}

span[style="background-color: var(--b3-font-background11);"] {
    color: var(--b3-font-color11) !important;
}

span[style="background-color: var(--b3-font-background12);"] {
    color: var(--b3-font-color12) !important;
}

/* 设置第13个背景色为挖空效果 */
span[style="background-color: var(--b3-font-background13);"] {
    color: transparent !important;
    background-color: transparent !important;
    border-bottom: 2px solid gray !important;
    border-radius: var(--b3-border-radius-none) !important;
    /* padding: 2px 0px !important; */
    font-weight: 400 !important;
    transition: color 0.1s ease-in-out;
}

span[style="background-color: var(--b3-font-background13);"]:hover {
    color: inherit !important;
}

/* ———————————————自定义13种背景样式，前7种为彩虹色 END—————————————————— */


/* ---------------------------------------修改文字更多样式中的字体效果----------------------------------------- */

span[style="color: var(--b3-font-color8);"] {
    font-weight: normal !important;
}

/* ———————————————修改字体样式和下划线—————————————————— */
span[style="color: var(--b3-font-color9);"] {
    font-family: "宋体" !important;
    color: inherit !important;
}

span[style="color: var(--b3-font-color10);"] {
    font-family: "楷体" !important;
    color: inherit !important;
}

span[style="color: var(--b3-font-color11);"] {
    font-family: "微软雅黑" !important;
    color: inherit !important;
}

span[style="color: var(--b3-font-color12);"] {
    text-decoration: underline dashed var(--b3-theme-on-background);
    text-underline-offset: 4px;
    color: inherit !important;
}

span[style="color: var(--b3-font-color13);"] {
    text-decoration: underline wavy var(--b3-theme-on-background);
    text-underline-offset: 3px;
    color: inherit !important;
}

/* ---------------------------------------修改文字更多样式中的字体效果 END----------------------------------------- */
/* --------------------------为更多样式中的字体增加文字提示---------------------- */
/* ——————————————————————设置边框大小—————————————————————— */
.b3-color__square {
    height: 23px;
    width: 23px;
    border-radius: var(--b3-border-radius-noraml);
    box-shadow: none;
    border: var(--b3-border-normal);
}

/* ——————————————————————为样式中13种字体设置格式—————————————————————— */
/* 设置统一的字体样式 */
.b3-color__square[data-type="color"] {
    position: relative;
    z-index: 2;
    background-color: transparent !important;
}

.b3-color__square[data-type="color"][style*="background-color:var(--b3-font-"]:before {
    display: inline-block;
    position: absolute;
    font-family: "微软雅黑";
    font-weight: 600;
    font-size: 1.3em;
    left: center;
    top: center;
    z-index: -1;
}

/* 设置文字介绍 */
.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color1)"]:before {
    content: "红";
    color: var(--b3-font-color1);
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color2)"]:before {
    content: "橙";
    color: var(--b3-font-color2);
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color3)"]:before {
    content: "黄";
    color: var(--b3-font-color3);
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color4)"]:before {
    content: "绿";
    color: var(--b3-font-color4);
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color5)"]:before {
    content: "青";
    color: var(--b3-font-color5);
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color6)"]:before {
    content: "蓝";
    color: var(--b3-font-color6);
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color7)"]:before {
    content: "紫";
    color: var(--b3-font-color7);
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color8)"]:before {
    content: "灰";
    color: var(--b3-font-color8);
}

/* 设置字体样式 */
.p[data-type="NodeParagraph"][style="background-color: var(--b3-font-color9);"],
.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color9)"]:before {
    content: "宋";
    font-family: "宋体";
    color: var(--b3-theme-on-background);
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color10)"]:before {
    content: "楷";
    font-family: "楷体";
    font-size: 1.4em;
    color: var(--b3-theme-on-background);
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color11)"]:before {
    content: "黑";
    font-family: "微软雅黑";
    color: var(--b3-theme-on-background);
}

/* 设置曲线样式 */
.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color12)"]:before {
    content: "虚";
    text-decoration: underline dashed var(--b3-theme-on-background);
    text-underline-offset: 3px;
    color: var(--b3-theme-on-background);
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color13)"]:before {
    content: "曲";
    text-decoration: underline wavy var(--b3-theme-on-background);
    text-underline-offset: 2px;
    color: var(--b3-theme-on-background);
}

/* ——————————————————————为样式中13种背景设置格式—————————————————————— */
/* 设置统一的背景样式 */
.b3-color__square[data-type="backgroundColor"] {
    position: relative;
    z-index: 2;
}

.b3-color__square[data-type="backgroundColor"][style*="background-color:var(--b3-font-"]:before {
    display: inline-block;
    position: absolute;
    font-family: "微软雅黑";
    font-weight: 600;
    font-size: 1.3em;
    left: center;
    top: center;
    z-index: -1;
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background1)"]:before {
    content: "红";
    color: var(--b3-font-color1);
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background2)"]:before {
    content: "橙";
    color: var(--b3-font-color2);
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background3)"]:before {
    content: "黄";
    color: var(--b3-font-color3);
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background4)"]:before {
    content: "绿";
    color: var(--b3-font-color4);
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background5)"]:before {
    content: "青";
    color: var(--b3-font-color5);
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background6)"]:before {
    content: "蓝";
    color: var(--b3-font-color6);
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background7)"]:before {
    content: "紫";
    color: var(--b3-font-color7);
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background8)"]:before {
    content: "灰";
    color: var(--b3-font-color8);
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background9)"]:before {
    content: "红";
    color: var(--b3-font-color9);
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background10)"]:before {
    content: "黄";
    color: var(--b3-font-color10);
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background11)"]:before {
    content: "蓝";
    color: var(--b3-font-color11);
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background12)"]:before {
    content: "绿";
    color: var(--b3-font-color12);
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background13)"]:before {
    content: "空";
    color: transparent;
    border-bottom: 2px solid var(--b3-theme-on-background) !important;
    box-sizing: border-box;
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background13)"]:hover:before {
    color: var(--b3-theme-on-background);
}