/* 设置导出样式 */
@media print {
    :root {
        font-family: "仓耳今楷03";
    }

    span.strong {
        font-weight: bold !important;
    }

    div.hr>div {
        border-color: transparent !important;
    }

    .h1 {
        page-break-before: always;
    }

    div.hr {
        page-break-after: always;
    }

    .list[custom-f="dt"][data-node-id] .protyle-action svg {
        display: none !important;
    }

    .b3-typography [custom-f~="dt"] [data-subtype="o"][data-node-id].li>div.protyle-action,
    .protyle-content [custom-f~="dt"] [data-subtype="o"][data-node-id].li>div.protyle-action {
        display: none !important;
    }

    .list[custom-f="dt"][data-node-id] .protyle-action {
        display: none !important;
    }
}