/* -------------------------------------------------面包屑导航样式-------------------------------------------- */
.protyle-breadcrumb {
    color: gray;
    /* background-color: var(--b3-font-color-gray-tm); */
    font-size: 14px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/* 将面包屑设置为毛玻璃效果，来自于Dark+作者的建议 */

/* 01 将面包屑设置为绝对布局 */
.protyle-breadcrumb {
    position: absolute;
    background-color: rgba(250, 250, 250, 0.7);
    backdrop-filter: blur(15px);
    z-index: 10;
    width: 100%;
}

/* 02 将正文设置为浮动布局 */
.protyle-content {
    float: left;
    padding-top: 30px;
}




/* -------------------设置面包屑中icon大小------------------------- */
.protyle-breadcrumb__item svg {
    height: 14px;
    width: 14px;
}

.protyle-breadcrumb__item:hover,
.protyle-breadcrumb__item--active {
    background-color: var(--b3-theme-tm2) !important;
}