/* -------------------------------------------------公式相关设置--------------------------------------------- */
/* 更改公式字体 */
/* .katex {
    text-align: left;
    font-family: 'Times New Roman', "屏显臻宋" !important;
} */

/* 公式居左对齐 */
/* .b3-typography .katex-display>.katex>.katex-html, .protyle-wysiwyg .katex-display>.katex>.katex-html {
    text-align: left;
} */

/* -------------------------------------------------公式相关设置--------------------------------------------- */