/* ——————————————————————————文档标题样式—————————————————————————— */
.protyle-title__input {
    background-color: transparent;
    padding-left: 0px;
    margin-left: 0px;
}

/* 设置标题左边icon的样式 */
.protyle-title__icon {
    top: 1.4em;
    left: -1.8em;
}

.protyle-title span svg {
    width: 1.5em;
    height: 1.5em;
    color: #80808080;
}


/* ---------------------------------------------------------标题样式------------------------------------------------------------- */
/* 标题居左对齐，采用彩虹色前6色 红橙黄绿青蓝 */
.protyle-wysiwyg [data-node-id].h1,
.b3-typography h1 {
    text-align: left;
    font-size: 1.6em !important;
    font-weight: 550;
    position: relative;
    z-index: 0;
    color: var(--b3-font-color1);
    vertical-align: middle;
    margin-top: 36px;
}

.protyle-wysiwyg [data-node-id].h2,
.b3-typography h2 {
    font-size: 1.5em !important;
    font-weight: 550;
    position: relative;
    z-index: 0;
    color: var(--b3-font-color2);
    margin-top: 30px;
}

.protyle-wysiwyg [data-node-id].h3,
.b3-typography h3 {
    font-size: 1.4em !important;
    font-weight: 550;
    position: relative;
    z-index: 0;
    color: var(--b3-font-color3);
    margin-top: 24px;
}

.protyle-wysiwyg [data-node-id].h4,
.b3-typography h4 {
    font-size: 1.3em !important;
    font-weight: 550;
    position: relative;
    z-index: 0;
    color: var(--b3-font-color4);
    margin-top: 18px;
}

.protyle-wysiwyg [data-node-id].h5,
.b3-typography h5 {
    font-size: 1.2em !important;
    font-weight: 550;
    position: relative;
    z-index: 0;
    color: var(--b3-font-color5);
    margin-top: 12px;
}

.protyle-wysiwyg [data-node-id].h6,
.b3-typography h6 {
    font-size: 1.1em !important;
    font-weight: 550;
    position: relative;
    z-index: 0;
    color: var(--b3-font-color6);
    margin-top: 6px;
}

/* 文档中第一个标题上边距为0 */
.protyle-wysiwyg [data-node-id][data-type="NodeHeading"]:first-child,
.b3-typography [data-type="NodeHeading"]:first-child {
    margin-top: 0px !important;
}

/* 设置6级标题高度 */
.protyle-wysiwyg [data-node-id].h6 {
    height: 22px;
}

/* 列表中标题设置圆圈 */
.render-node [data-type="NodeHeading"]:after,
div.list div[data-type="NodeHeading"]::after {
    position: absolute;
    top: 0em;
    left: -0.3em !important;
    height: 1em !important;
    width: 1em !important;
}

/* --------------------------------------------------标题样式END------------------------------------------------------ */


/* -------------------------------------------------区分大纲中的各级标题------------------------------------------------ */
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] .b3-list-item__text,
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] {
    color: var(--b3-catalog-h1-color);
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h2"] .b3-list-item__text,
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"] {
    color: var(--b3-catalog-h2-color);
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h3"] .b3-list-item__text,
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"] {
    color: var(--b3-catalog-h3-color);
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h4"] .b3-list-item__text,
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"] {
    color: var(--b3-catalog-h4-color);
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h5"] .b3-list-item__text,
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"] {
    color: var(--b3-catalog-h5-color);
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h6"] .b3-list-item__text,
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"] {
    color: var(--b3-catalog-h6-color);
}

/* -------------------------------------------------区分大纲中的各级标题 END------------------------------------------------ */

/* ————————————————————标题圆角矩形衬底（伪元素）的样式———————————————————— */
/* ————————————————————给h1-h6先统一设置格式———————————————————— */

h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after,
div[data-node-id][data-type="NodeHeading"]::after {
    content: '';
    position: absolute;
    bottom: 0.4em;
    left: 0;
    height: 18px;
    border-radius: var(--b3-border-radius-half-round);
    z-index: -2 !important;
}

/* ————————————————————h1———————————————————— */
.protyle-wysiwyg [data-node-id].h1:after,
.b3-typography h1:after {
    height: 18px;
    background-color: var(--b3-h1-after);
    width: 50%;
    /* left: 25%; */
    z-index: -1 !important;
}

/* ————————————————————h2———————————————————— */
.protyle-wysiwyg [data-node-id].h2:after,
.b3-typography h2:after {
    height: 16px;
    background-color: var(--b3-h2-after) !important;
    width: 50%;
    z-index: -1 !important;
}

/* ————————————————————h3———————————————————— */
.protyle-wysiwyg [data-node-id].h3:after,
.b3-typography h3:after {
    height: 14px;
    background-color: var(--b3-h3-after) !important;
    width: 45%;
    z-index: -1 !important;
}

/* ————————————————————h4———————————————————— */
.protyle-wysiwyg [data-node-id].h4:after,
.b3-typography h4:after {
    height: 12px;
    background-color: var(--b3-h4-after) !important;
    width: 40%;
    z-index: -1 !important;
}

/* ————————————————————h5———————————————————— */
.protyle-wysiwyg [data-node-id].h5:after,
.b3-typography h5:after {
    height: 10px;
    background-color: var(--b3-h5-after) !important;
    width: 35%;
    z-index: -1 !important;
}

/* ————————————————————h6———————————————————— */
.protyle-wysiwyg [data-node-id].h6:after,
.b3-typography h6:after {
    height: 8px;
    background-color: var(--b3-h6-after) !important;
    width: 30%;
    z-index: -1 !important;
}

/* ————————————————————标题加粗后颜色跟加粗前颜色一致———————————————————— */
.protyle-wysiwyg [data-type="NodeHeading"] strong {
    color: inherit;
}

/* 4种背景样式中去掉标题下方圆角矩形 */
div[data-type="NodeHeading"][style*="background-color"]::after {
    display: none;
}